.row div {

    height: 400px;
}

.row .color1
{
  background: #a045e3;

}

.row .color2
{
  background: #3fc4c4;

}


.menu {

    height: 50px;
    background: white;

}

.text_in_first_row {

    padding: 50px;

}
