.row div {

    height: 400px;
}

.row .color1
{
  background: #c285ef;

}

.row .color2
{
  background: #3fc4c4;

}


.menu {
padding: 15px;
 background: white;

}

.text_in_first_row {

    padding: 150px;

}

.text_in_first_row2 {

  padding: 50px;

}
