
body { background-color: transparent; }

.background1 {
    background: url('http://megapixelstock.com/user/userinfo/user_images/medium/laptop-1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.row .size2 {

    height: 800px;

}

.row .color1
{
  background: #c285ef;

}

.color2
{
  background: #3fc4c4;

}


.menu {
padding: 15px;
 background: white;

}

.text_in_first_row {

    padding: 350px 0 0 150px;

}

.text_in_first_row2 {

  padding: 310px 0 0 50px;

}
.intro {
  background: none;

padding: 0px 0 0 0;
}

.Experience {

  background: #3fc4c4;
    height: 50px;
padding: 20px 0 0 0;
}

.parallax_image {

    width: 100%;
    height: 50px;
    overflow: hidden;
    display: block;

}
.row_image {

    background-image: url('\img\ss-band-concert-crowd.jpg');
}
